html{
    height: 90%;
    width: 50%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: blue;
    background-color: rgb(233, 244, 232);
    text-align: center;
    text-decoration: wavy;
}
#container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(226, 43, 159);
    background-color: rgb(248, 217, 240);
}
div#everyone{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: rgb(244, 13, 13);
    background-color: rgb(203, 247, 232);
}